@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');


:root {
    /* Primary Colours */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral Colours */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    color: var(--very-light-gray);
    font-weight: 400;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

p {
    color: var(--transparent-white);
    line-height: 1.6em;
    width: 210px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 810px;
    height: 486px;
}

h1 {
    font-family: "Big Shoulders Display", sans-serif;
    padding: 30px 0;
    font-weight: 700;
    text-transform: uppercase;
}

img {
    padding-top: 20px;
}

.box {
    width: 270px;
    padding: 30px;
}

.sedans {
    background-color: var(--bright-orange);
    border-radius: 10px 0 0 10px;
}

.suvs {
    background-color: var(--dark-cyan);
}

.luxury { 
    background-color: var(--very-dark-cyan);
    border-radius: 0 10px 10px 0;
}

.btn {
    margin-top: 90px;
    margin-bottom: 10px;
}

button {
    width: 120px;
    padding: 15px 10px;
    border-radius: 30px;
    border: 0;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}

.sed {
    color: var(--bright-orange);
}

.suv {
    color: var(--dark-cyan);
}

.lux {
    color: var(--very-dark-cyan);
}

@media (max-width: 375px) {
    .container {
        width: 335px;
        height: 1308px;
        margin: 50px 20px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .sedans {
        width: 335px;
        border-radius: 10px 10px 0 0;
    }

    .suvs {
        width: 335px;
    }

    .luxury {
        width: 335px;
        border-radius: 0 0 10px 10px;
    }

    .btn {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    p {
        width: 230px;
    }
}